@import '../../styles/colors';

.modal--window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: #0008;

    &.show {
        display: flex;
    }
    &.hide {
        display: none;
    }
    &__body {
        background-color: map-get($map: $primary, $key: 'main');
        // border: 2px map-get($map: $primary, $key: 'dark') solid;
        border-radius: 8px;
        margin: auto;
        padding: 2.5rem 1.25rem 1.25rem 1.25rem;
        position: relative;
    }

    &__exit-btn {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    &__content {
    }
}
