@import './shared/styles/colors';

body {
    background-color: map-get($map: $primary, $key: 'main');
}

#root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.content {
    padding-left: 16px;
    padding-right: 16px;
    flex: 1 1 100%;
    display: flex;
    overflow: auto;
}

// .header {
//     top: 0;
// }
 