.sign-up--layout {
    &__body {
        max-width: 1024px;
        margin: auto;
    }
}

.main {
    max-width: 900px;      
    grid-area: main;
}


.position--fixed {
    position: fixed;
    top: 0;
}

