@import "./../../styles/colors";

.exp--card {
    background-color: map-get($map: $primary, $key: 'main');
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    gap: 16px;
    display: flex;

    &__header {}

    &__title {
        font-weight: bold;
        font-size: larger;
    }

    &__sub--title {
        font-weight: bold;
        font-size: large;
    }

    &__descr {
        color: map-get($map: $secondary, $key: 'light');
        // max-height: 120px;
        // overflow: hidden;
        // word-wrap: normal;
        // white-space: nowrap;
        // text-overflow: ellipsis;
    }

    &__tech {
        color: map-get($map: $secondary, $key: 'light');
        overflow: auto;
        // max-height: 100px;
    }

    &__tech--title {}

    &__bottom {
        display: flex;
        align-items: center;

        &__item--link {
            color: map-get($map: $secondary, $key: 'light');
        }

        &__links {
            flex: 1 1 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            overflow: auto;
        }

        &__btns {
            flex: 1 1 200px;
            gap: 8px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}